<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0"/>
    <title>Loteria </title>

    <!-- CSS -->
    <link rel="stylesheet" href="{% static "lib/bootstrap/css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "css/style.css" %}">

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light navbar-loteria">
    <a class="navbar-brand" href="#">Menu</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="">Home</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMestre" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Jogos
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMestre">
                    <a class="dropdown-item" href="{% url 'dia_sorte' %}">Sistema</a>
                </div>
            </li>
        </ul>
    </div>
</nav>

{% block body %}
{% endblock %}
</body>

<!-- Scripts -->
<script src="{% static 'lib/angular/angular.min.js' %}"></script>
<script src="{% static "lib/jquery/jquery-3.2.1.min.js" %}"></script>
<script src="{% static "lib/popper/popper.min.js" %}"></script>
<script src="{% static "lib/bootstrap/js/bootstrap.min.js" %}"></script>

</html>