{% extends "base.html" %}

{% block body %}
    <div ng-controller="DiaSorteV2Controller as vm" ng-init="vm.iniciar()">
        {% csrf_token %}
        <div class="cabecalho dia-sorte">
            <h1>
                Dia de Sorte - Versão 2
            </h1>
        </div>
        <div class="alert alert-danger alert-loteria" ng-hide="vm.mensagemErro.length == 0">
            <ul>
                <li ng-repeat="mensagem in vm.mensagemErro" ng-bind="mensagem"></li>
            </ul>
        </div>
        <div class="dia-sorte">
            <div class="secao-numeros">
                {% include "secao_numero.html" %}
            </div>
        </div>
        <div class="secao-botoes">
            <div class="row">
                <div class="col-md-12">
                    <label for="quant_dezenas_01_10">Qtd. dezenas 01-10:</label>
                    <input type="text" id="quant_dezenas_01_10" class="form-control" ng-model="vm.quant_dezenas_01_10" number-input="2">
                </div>
                <div class="col-md-12">
                    <label for="quant_dezenas_11_20">Qtd. dezenas 11-20:</label>
                    <input type="text" id="quant_dezenas_11_20" class="form-control" ng-model="vm.quant_dezenas_11_20" number-input="2">
                </div>
                <div class="col-md-12">
                    <label for="quant_dezenas_21_31">Qtd. dezenas 21-31</label>
                    <input type="text" id="quant_dezenas_21_31" class="form-control" ng-model="vm.quant_dezenas_21_31" number-input="2">
                </div>
            </div>

            <button class="btn btn-outline-primary" ng-click="vm.sortear()">Sortear</button>
        </div>
        <div class="secao-resultado">
            {% include "secao_resultado.html" %}
        </div>
    </div>

{% endblock %}