{% extends "base.html" %}

{% block body %}
<div class="cabecalho dia-sorte">
    <h1>
        Dia de Sorte
    </h1>
</div>
<div class="dia-sorte">
    <div class="secao-numeros">
        <div class="d-flex flex-wrap">
            <button class="btn btn-numero">1</button>
            <button class="btn btn-numero">2</button>
            <button class="btn btn-numero">3</button>
            <button class="btn btn-numero">4</button>
            <button class="btn btn-numero">5</button>
            <button class="btn btn-numero">6</button>
            <button class="btn btn-numero">7</button>
            <button class="btn btn-numero">8</button>
            <button class="btn btn-numero">9</button>
            <button class="btn btn-numero">10</button>
            <button class="btn btn-numero">11</button>
            <button class="btn btn-numero">12</button>
            <button class="btn btn-numero">13</button>
            <button class="btn btn-numero">14</button>
            <button class="btn btn-numero">...</button>
            <button class="btn btn-numero">31</button>
        </div>

    </div>
</div>
{% endblock %}